body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #fafafa;
}

h1 {
    text-align: center;
}

.form-container {
    background: white;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

.review-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 4px #bbb;
}
